  .login-top {
  	margin-top: 100px;
  }

  .table-responsive-lg {
  	display: block;
  	width: 100%;
  	overflow-x: auto;
  	-webkit-overflow-scrolling: touch;
  }

  .table-responsive-lg>.table-bordered {
  	border: 0;
  }

  .brand {
  	font-size: 20pt;
  	margin-top: -5%;
  }

  .gambar-berita-guest {
  	width: 100%;
  }

  .judul-berita-guest {
  	margin-top: 7%;
  }

  .isi-berita-guest {
  	margin-bottom: 10%;
  }

  .search {
  	margin-right: -100px !important;
  }

  .table {
  	min-width: 100%;
  }

  .judul-berita-index {
  	min-width: 500px;
  }

  .judul-keterangan-index {
  	min-width: 200px;
  }

  .gambar-berita {
  	width: 100%;
  }

  .nik {
  	min-width: 100px;
  }

  .nama-pegawai {
  	min-width: 300px;
  }

  .jabatan {
  	min-width: 120px;
  }

  .keterangan {
  	min-width: 150px;
  }

  .judul-berita {
  	min-width: 300px;
  }

  .tanggal-berita {
  	min-width: 70px;
  }

  .author-berita {
  	min-width: 300px;
  }

  .cari-pegawai {
  	margin-left: -30%;
  }

  .p-judul-dashboard {
  	font-size: 27pt;
  }

  .detail-atasan {
  	width: 80px;
  }

  .cari-pegawai-atasan {
  	margin-left: -33%;
  }

  .search-pegawai-atasan {
  	min-width: 100%;
  	margin-left: 100%;
  }

  .carousel-berita {
  	margin-top: 10%;
  }

  @media (max-width: 992px) {
  	.detail {
  		font-size: 11px;

  	}

  	.judul-berita-index {
  		min-width: 300px;
  	}

  	.font-notify {
  		font-size: 9pt;
  	}

  	.tombol-tambah {
  		font-size: 11px;
  	}

  	.form-inline .cari-pegawai {
  		font-size: 11px;
  		margin-left: -40%;
  	}

  	.form-inline .tombol-cari-pegawai {
  		font-size: 11px;
  		margin-left: 2%;
  		margin-top: 1px;
  	}

  	.copyright span {
  		font-size: 8.1pt;
  	}

  	.tombol-detail-atasan {
  		min-width: 200px;
  	}

  	.detail-atasan {
  		width: 80px;
  		font-size: 10pt;
  	}

  	.tanggal-cuti-atasan {
  		min-width: 100pt;
  	}

  	.cari-pegawai-atasan {
  		font-size: 11px;
  		margin-left: -40%;
  		width: 120pt;
  	}

  	.search-pegawai-atasan {
  		min-width: 250px;
  		margin-left: 70%;
  	}

  	.judul-berita-guest {
  		margin-top: 13%;
  	}

  	.isi-berita-guest {
  		margin-bottom: 80px;
  	}

  	.carousel-berita {
  		margin-top: 13%;
  	}
  }
